.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-color)
}

.contact {
    margin-top: 24px 0;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 620px;
    padding: 0 16px;
    padding-top: 120px;

    text-align: left;
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.6;
}

@media (max-width: 600px) {
    .container {
        position: relative;
        margin: 0 auto;
        padding-top: 16px;
    }
}

.socialLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--font-color);
    /* SVG icons */
    fill: var(--font-color);
}

.socialLink svg {
    margin-right: 4px;
}

.socialLink:not(:last-child) {
    margin-right: 16px;
}

@media (hover: hover) {
    .socialLink:hover {
        color: var(--primary-color);
        fill: var(--primary-color);
        transition: all 0.4s ease;
    }
}