@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-2xl font-semibold tracking-wider my-4;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

}

@layer components {
  .social-link {
    @apply [@media(hover:hover)]:dark:hover:text-primary [@media(hover:hover)]:hover:text-primary [@media(hover:hover)]:dark:hover:fill-primary [@media(hover:hover)]:hover:fill-primary mr-4 inline-flex items-center justify-center dark:fill-slate-200 dark:text-slate-200 text-gray-600 fill-gray-600 transition-all duration-300 ease-in-out [&>svg]:mr-1
  }
}

:root {
  --background-color: 21, 22, 21;
  --title-color: 219, 223, 223;
  --text-color: 223, 223, 219;
  --primary-color: 0, 136, 255;
  --secondary-color: 0, 95, 179;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 21, 22, 21;
    --title-color: 219, 223, 223;
    --text-color: 223, 223, 219;
    --primary-color: 0, 136, 255;
    --secondary-color: 0, 95, 179;
  }
}

* {
  box-sizing: border-box;
}